[submodule "code/mcbenchmark"]
	path = code/mcbenchmark
	url = https://github.com/mirko-lelansky/mcbenchmark
[submodule "code/voldemort-client"]
	path = code/voldemort-client
	url = https://github.com/mirko-lelansky/voldemort-client
[submodule "code/django-voldemort"]
	path = code/django-voldemort
	url = https://github.com/mirko-lelansky/django-voldemort
[submodule "code/booksite"]
	path = code/booksite
	url = https://github.com/mirko-lelansky/booksite
